matplotlib==3.10.6
numpy==2.3.3
scipy==1.16.2
scikit-learn==1.7.2
pandas==2.3.3
tqdm==4.67.1
transformers==4.57.0
torch==2.8.0
pyprg==0.1.1b7
mypy==1.18.2
pytest-mypy==1.0.1
pytest==9.0.1
nltk==3.9.2
.